.nunit-figure {
    position: absolute;
    height: 50px;
    top: 8px;
    right: 8px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    margin-left: auto;
}

.nunit-caption {
    margin-left: auto;
}

.nunitbutton {
    margin-left: auto;
    height: 50px;
    width: 50px;
}

.testproject-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.testproject-item {
    text-align: right;
    margin: 3px;
}

.testresult {
    position: absolute;
    right: 0px;
    top: 59px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes spinning {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}