@namespace asplib.Components
@inherits TestButtonBase

<div>
    <input type="image" id="testButton" alt="Test" class="nunitbutton @spin" src="@src" @onclick="Test" tabindex="@tabindex" />
    <a class="testresult" @onclick="ShowResultXml">@((MarkupString)TestResult)</a>
</div>