<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Root" value="..\..\..\minimal.webforms"/>
    <add key="Port" value="55269"/>
    <add key="RequestTimeout" value="100"/>
    <add key="ServerStartTimeout" value="10"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
