<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aspnettest.iselenium.webforms" version="0.2.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net462" />
  <package id="NUnit" version="3.13.3" targetFramework="net461" />
  <package id="NUnit.Engine" version="3.15.2" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="4.3.1" targetFramework="net462" developmentDependency="true" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.7.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="109.0.1518.44-pre" targetFramework="net462" />
</packages>