@using asplib.Components

@page "/"

<PageTitle>minimal</PageTitle>

<h1>minimalist test setup</h1>
<ul>
    <li><a href="Withstatic" id="withstatic-link">with static Main</a></li>
    <li><a href="Withstorage" id="withstorage-link">with persistent storage</a></li>
</ul>
<TestButton testproject="minimaltest.blazor"/>
