@using asplib.Components

@page "/"

<PageTitle>minimal</PageTitle>

<h1>minimalist test setup</h1>
<ul>
    <li><a href="Withstatic" id="withstatic-link" tabindex="10">with static main</a></li>
    <li><a href="Withstorage" id="withstorage-link" tabindex="20">with persistent storage</a></li>
</ul>
<TestButton testproject="minimaltest.blazor" tabindex="1000" />
