@page "/withstatic"
@using asplib.Components
@inherits StaticComponentBase<Models.Main>

<h1>minimalist test setup with static main</h1>

<input @bind="input" id="contentTextBox" />
<button type="submit" id="submitButton" @onclick="Submit">Submit</button>
<ul>
    @foreach (var item in Main)
    {
        <li>@item</li>
    }
</ul>

@code {
    private String? input;

    private void Submit()
    {
        if (input != null)
        {
            Main.Add(input);
            input = null;
        }
    }
}
