@page "/withstatic"
@using asplib.Components
@inherits StaticOwningComponentBase<Models.Main>

<h1>minimalist test setup with static main</h1>

<p>
    <input @bind="input" @ref="contentTextBox" class="textBox" />
    <button type="submit" @ref="submitButton" @onclick="Submit">Submit</button>
</p>

<ul>
    @foreach (var item in Main)
    {
        <li>@item</li>
    }
</ul>

@code {
    public ElementReference contentTextBox;
    public ElementReference submitButton;

    private String? input;

    private void Submit()
    {
        if (input != null)
        {
            Main.Add(input);
            input = null;
        }
    }
}
