@page "/triptych"
@using asp.blazor.CalculatorSmc

@inherits StaticComponentBase

<div class="calc-container">
    <div class="calc-box">
        <CalculatorComponent @ref="calculatorSessionStorage"
            @key="Guid.NewGuid()"
            Storage="SessionStorage"
            StorageLinkUrl="/storage/sessionstorage"
            StorageLinkClientID="StorageLinkSessionStorage"
        />
    </div>
    <div class="calc-box">
        <CalculatorComponent @ref="calculatorLocalStorage"
            @key="Guid.NewGuid()"
            Storage="LocalStorage"
            StorageLinkUrl="/storage/localstorage"
            StorageLinkClientID="StorageLinkLocalStorage"
        />
    </div>
    <div class="calc-box">
        <CalculatorComponent @ref="calculatorDatabase"
            @key="Guid.NewGuid()"
            Storage="Database"
            StorageLinkUrl="/storage/database"
            StorageLinkClientID="StorageLinkDatabase"
        />
    </div>
</div>

@code {
    public CalculatorComponent calculatorSessionStorage = default!;
    public CalculatorComponent calculatorLocalStorage = default!;
    public CalculatorComponent calculatorDatabase = default!;
}
