@using asplib.Components
@using iselenium.Components
@inherits StaticComponentBase

@page "/"

<PageTitle>TestButton</PageTitle>

<h1>Click the test button</h1>

<TestButton testproject="testbuttontest.blazor" tabindex="1000" />

<img src="/_content/iselenium.blazor/TestRunnerFsm_sm.png" alt="state map image of the test button" />
