@page "/"

@using asplib.Components
@using iselenium.Components
@inherits StaticComponentBase

<PageTitle>TestButton</PageTitle>

<h1>Click the test button</h1>

<TestButton testproject="testbuttontest.blazor" />

<img src="/_content/aspnettest.iselenium.blazor/TestRunnerFsm_sm.png" alt="state map image of the test button" />
