<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    @RenderSection("header", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>