@using asp.blazor.CalculatorSmc

<button @onclick="@Enter" @ref="enterButton" id="enterButton">Enter &gt;</button>

@code {
    [CascadingParameter(Name="Main")]
    private Calculator Main{ get; set; } = default!;
    public ElementReference enterButton;

    private void Enter()
    {
        Main.Fsm.Enter(Main.Operand);
    }
}
