<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.13.3" targetFramework="net461" />
  <package id="NUnit.Engine" version="3.15.2" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="4.3.1" targetFramework="net462" developmentDependency="true" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.5.1" targetFramework="net461" requireReinstallation="true" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="107.0.1418.42" targetFramework="net462" />
</packages>