<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="asplib.webforms" version="0.2.0" targetFramework="net472" requireReinstallation="true" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="iselenium.webforms" version="0.2.0" targetFramework="net472" requireReinstallation="true" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="4.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="NUnit" version="3.13.3" targetFramework="net461" />
  <package id="NUnit.Engine" version="3.15.2" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.5.1" targetFramework="net472" requireReinstallation="true" />
</packages>