@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using minimal.core.Models
@model WithStaticViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>withstatic</title>
    <style>
        h1 {
            font-size: 1.25em;
        }
    </style>
</head>
<body>
    <form asp-controller="WithStatic" asp-action="Submit" method="post">
        <h1>minimalist test setup with static controller</h1>
        <input asp-for="ContentTextBox" />
        <button type="submit" id="submitButton">Submit</button>
        <ol>
            @foreach (var item in Model.Content)
            {
                <li>@item</li>
            }
        </ol>
        <input type="hidden" name="ContentString" value="@Model.ContentString" />
    </form>
    </body>
</html>
